<a href="https://colab.research.google.com/github/srikanth-challa199/pandas/blob/main/CONCATINATION_PANDAS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#---------concatination---------


import pandas as pd
d1=[[34,56],[89,64]]
d2=[[76,70],[26,61]]
c=['A','B']
df=pd.DataFrame(d1,columns=c)
df1=pd.DataFrame(d2,columns=c)
result=[df,df1]
d3=pd.concat(result)
print(d3)

    A   B
0  34  56
1  89  64
0  76  70
1  26  61

In [6]:
#------concationation by using names--------


import pandas as pd
d1=[['kohli','dhoni'],['dravid','sachin']]
d2=[['rohit','jadeja'],['shami','umesh']]
c=['A','B']
df=pd.DataFrame(d1,columns=c)
df1=pd.DataFrame(d2,columns=c)
result=[df,df1]
d3=pd.concat(result,ignore_index=True)
print(d3)

        A       B
0   kohli   dhoni
1  dravid  sachin
2   rohit  jadeja
3   shami   umesh

In [12]:
#---------------------------------------------#


import pandas as pd
d1=[['kohli','dhoni'],['dravid','sachin']]
d2=[['rohit','jadeja'],['shami','umesh']]
c=['A','B']
z=['x','y']
df=pd.DataFrame(d1,columns=c)          #----by default it taking the axis=1----
df1=pd.DataFrame(d2,columns=z)
result=[df,df1]
d3=pd.concat(result,ignore_index=True)
print(d3)

        A       B      x       y
0   kohli   dhoni    NaN     NaN
1  dravid  sachin    NaN     NaN
2     NaN     NaN  rohit  jadeja
3     NaN     NaN  shami   umesh