<a href="https://colab.research.google.com/github/srikanth-challa199/pandas/blob/main/pandas_merging.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
##--------------------creating dataframes-------------------------------------------

import pandas as pd
d1={'id':[1,2,3,4,5,6],
'name':['pradhan','venu','madhurima','nireekasha','shafi','veeru'],
'subject':['english','java','html','python','c','dot net']}
d2={'id':[11,12,13,14,15,16],
    'name':['srinu','sumanth','neelima','daniel','arjun','veeru'],
    'subject':['java','html','cpp','python','c','dotnet']}
df=pd.DataFrame(d1)
df1=pd.DataFrame(d2)
print(df)
print()
print(df1)

   id        name  subject
0   1     pradhan  english
1   2        venu     java
2   3   madhurima     html
3   4  nireekasha   python
4   5       shafi        c
5   6       veeru  dot net

   id     name subject
0  11    srinu    java
1  12  sumanth    html
2  13  neelima     cpp
3  14   daniel  python
4  15    arjun       c
5  16    veeru  dotnet

In [7]:
#---------------innermerging---------------------------


df3=pd.merge(df,df1,on='subject',how='inner')
print(df3)

   id_x      name_x subject  id_y   name_y
0     2        venu    java    11    srinu
1     3   madhurima    html    12  sumanth
2     4  nireekasha  python    14   daniel
3     5       shafi       c    15    arjun

In [9]:
#--------------rightmerging-----------------


import pandas as pd
d1={'id':[1,2,3,4,5,6],
'name':['pradhan','venu','madhurima','nireekasha','shafi','veeru'],
'subject':['english','java','html','python','c','dot net']}
d2={'id':[11,12,13,14,15,16],
    'name':['srinu','sumanth','neelima','daniel','arjun','veeru'],
    'subject':['java','html','cpp','python','c','dotnet']}
df=pd.DataFrame(d1)
df1=pd.DataFrame(d2)
rightjoin=pd.merge(df,df1,on='subject',how='right')
print(rightjoin)

   id_x      name_x subject  id_y   name_y
0   2.0        venu    java    11    srinu
1   3.0   madhurima    html    12  sumanth
2   NaN         NaN     cpp    13  neelima
3   4.0  nireekasha  python    14   daniel
4   5.0       shafi       c    15    arjun
5   NaN         NaN  dotnet    16    veeru

In [10]:
#--------------leftmerging---------------



import pandas as pd
d1={'id':[1,2,3,4,5,6],
'name':['pradhan','venu','madhurima','nireekasha','shafi','veeru'],
'subject':['english','java','html','python','c','dot net']}
d2={'id':[11,12,13,14,15,16],
    'name':['srinu','sumanth','neelima','daniel','arjun','veeru'],
    'subject':['java','html','cpp','python','c','dotnet']}
df=pd.DataFrame(d1)
df1=pd.DataFrame(d2)
leftjoin=pd.merge(df,df1,on='subject',how='left')
print(leftjoin)

   id_x      name_x  subject  id_y   name_y
0     1     pradhan  english   NaN      NaN
1     2        venu     java  11.0    srinu
2     3   madhurima     html  12.0  sumanth
3     4  nireekasha   python  14.0   daniel
4     5       shafi        c  15.0    arjun
5     6       veeru  dot net   NaN      NaN

In [13]:
#------------outermerging----------------


import pandas as pd
d1={'id':[1,2,3,4,5,6],
'name':['pradhan','venu','madhurima','nireekasha','shafi','veeru'],
'subject':['english','java','html','python','c','dot net']}
d2={'id':[11,12,13,14,15,16],
    'name':['srinu','sumanth','neelima','daniel','arjun','veeru'],
    'subject':['java','html','cpp','python','c','dotnet']}
df=pd.DataFrame(d1)
df1=pd.DataFrame(d2)
fulljoin=pd.merge(df,df1,on='subject',how='outer')
print(fulljoin)

   id_x      name_x  subject  id_y   name_y
0   5.0       shafi        c  15.0    arjun
1   NaN         NaN      cpp  13.0  neelima
2   6.0       veeru  dot net   NaN      NaN
3   NaN         NaN   dotnet  16.0    veeru
4   1.0     pradhan  english   NaN      NaN
5   3.0   madhurima     html  12.0  sumanth
6   2.0        venu     java  11.0    srinu
7   4.0  nireekasha   python  14.0   daniel